.grpah-parent{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.top-input{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-radius: 15px;
    padding: 3em;
    background: rgba(217, 217, 217, 0.50);
    backdrop-filter: blur(3px);
}

.top-input label, .left-input label{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.top-input input, .left-input input{
    border-radius: 7px;
    border: 1px solid #FFF;
    color: black;
    outline: none;
    padding: 0.7em;
    background: transparent;
}

.middle-input{  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 3rem;
    border-radius: 15px; 
}

.left-input{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        gap: 2rem;
        background: rgba(217, 217, 217, 0.50);
        backdrop-filter: blur(3px);
        padding: 3em;
}

.prf_suff{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}