.pricing-parent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}
.primaryheading{
    margin-top: 20%;    
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.primarytitle{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pricingcard{
    display: flex;
    justify-content: space-around;

}

.subscribe{
    margin-top: 5%;
    padding: 1em;
    border-radius: 100px;
    border: 1px solid #000;
    color: white;
    
}
.subscribe:hover{
    background: linear-gradient(to bottom left, #34d399, #3b82f6);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.subscribe:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Add a custom focus ring */
  }

.down{
    margin-top: 10%;
}