.profile-parent{
    margin-top: 5%;
}

.profile-content{
    display: flex;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #4081FF;
    background: rgba(52, 52, 52, 0.32);
    backdrop-filter: blur(5px);
    padding: 5em;
}

.left-content{
    display: flex;
    /* align-items: center; */
    /* gap: 1rem; */
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
}

.profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 3rem;
    margin-bottom: -10%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h5{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info a{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email{
    display: flex;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bio{
    display: flex;
    color: white;
    flex-shrink: 0;
    padding: 1.4em;
    width: 80%;
    border-radius: 10px;
    background: rgba(52, 52, 52, 0.32);
    backdrop-filter: blur(5px);
}

.plan{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -10%;
}

.status{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -15%;
}

.right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
}
.right-content h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.right-content img{
    transition: transform 0.3s ease-in-out; /* Add transition for smooth hover effect */
}
.right-content img:hover{
    transform: scale(1.1); /* Grow the card on hover */
    cursor: pointer;
}

.graph-created{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em;
    gap: 2rem;
    border-radius: 14px;
    background: rgba(217, 217, 217, 0.60);
    backdrop-filter: blur(2px);
}


.graph-created h5{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.graph-created h2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1em;

}

.share, .upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.60);
    backdrop-filter: blur(2px);
    padding: 0.7em;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth hover effect */
}
.share:hover, .upload:hover{
    cursor: pointer;
    transform: scale(1.1); /* Grow the card on hover */
}

.share p, .upload p{
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile-navigation{
    margin-top: 5%;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px 12px 0px 0px;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(50px);
    padding: 1em;
}

.profile-navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.link:hover{
    color: black;
    text-decoration: underline;
}